body {
    font-family: "Arial", "Meiryo", sans-serif;
}

.pink {
    color: rgb(255, 192, 203);
    text-align: center;
}

.blue {
    color:skyblue;
    text-align: center;
}

p {
    color:black;
    font-size: 20px;
    text-align: center;
}

#basic > p {
    font-weight:bold;
}

h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 1px 1px 2px grey;

  }


